.table-view {
    -fx-background-color:#651FFF;
    -fx-background-radius:0 0 0 0;

}
.table-view .column-header-background{
    -fx-background-color: #651FFF;
    -fx-background-radius:14;
    -fx-background-insets: 0 0 10 0;
}
.table-view .column-header, .table-view .filler{
    -fx-size:50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;

}
.table-view .column-header .label {
    -fx-text-fill: white ;
}
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
}
.JFXButton{
-fx-border:3px;
-fx-border-radius:5px;
-fx-border-color:#000000;
-fx-transition:.5s;
}
.JFXButton:hover{
-fx-border-width:5px;
}
JFXTextField{
-fx-border-radius:5px;
-fx-decoration:none;
}
JFXComboBox{
-fx-font-size:18px;
-fx-font-family:tahoma;
}
JFXDatePicker{
-fx-font-size:18px;
-fx-font-family:tahoma;
}